#displayBoarder {
    margin-top: 5%;
    margin-bottom: 20px;
   
  }
  #displayhistory {
    font-family: "Sora", sans-serif;
    font-size: 50px;
  }
  
  div#paper {
    /* max-width: 50%; */
    margin-left: 20%;
    margin-right: 20%;
  }
  a:hover {
    color: red;
    background-color: black;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 12pt;
  }
  p:hover {
    background-color: red;
  }
